@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk";
    background-color: #0d0d14;
}

section {
    padding: 72px 40px;
}